* {
  box-sizing: border-box;
}

body {
  background-color: #29405a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background-color: #fff;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150*150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px wheat;
}

.hovered {
  background-color: rgba(0, 0, 0, 0.699);
  border-color: white;
  border-style: dotted;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
